/* Sidebar variables */
/* Fonts */
@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Regular.ttf");
}

/* General rules */
.no-margins {
    margin: 0px;
}

.no-paddinds {
    padding: 0;
}

.no-column-gutters {
    padding-left: 0;
    padding-right: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    position: relative;
    flex: 1;
    display: flex;
}

/* Workspace rules */
.workspace {
    display: flex;
    flex-direction: column;
    padding-left: 62px;
    flex: 1;
}

.working-area {
    flex: 1;
    padding: 10px 0 30px 0;
    display: flex;
}

/* Navbar rules */
.nav-bar {
    background-color: #e0e0e0;
    padding: 10px 15px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.nav-bar__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.nav-bar__left-bar {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.nav-bar__middle-bar-container {
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar__right-bar {
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
    padding-left: 0;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    min-height: 1px;
    position: relative;
}

.icon {
    width: 32px;
    height: 32px;
}

.icon-link-with-right-margin {
    margin-right: 20px;
}

.icon-link-with-left-margin {
    margin-left: 20px;
}

.nav-bar__profile-container {
    margin-left: 9px;
    align-items: center;
    display: flex !important;
}

.greeting {
    margin-right: 18px;
}

.project-title, .nav-bar__project-description {
    font-family: 'Open Sans', sans-serif;
}

.project-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-bar__project-description {
    font-size: 19px;
    color: #37474f;
    display: none;
}

.nav-bar__middle-bar {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 992px) {
    .project-title {
        margin-right: 45px;
    }

    .nav-bar__project-description {
        display: inline;
    }
}

/* Sidebar */
.sidebar {
    display: inline-block;
    height: 100%;
    transition: width 0.5s;
    background-color: #37474f;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
}

/* Tab */
.sidebar__tab-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar__tab-header {
    display: flex;
}

.sidebar__tab-header-title {
    display: none;
    overflow: hidden;
    white-space: nowrap;
    width: 168px;
}

.sidebar__tab-title-wraper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: 158px;
    border-radius: 0 10px 10px 0;
}

.sidebar__tab-icon-container {
    width: 62px;
    text-align: center;
}

.sidebar__tab-title-wraper, .sidebar__tab-icon-container {
    padding: 5px 0;
    cursor: pointer;
}

.tab-selected .sidebar__tab-title-wraper, .tab-selected .sidebar__tab-icon-container {
    background-color: #edb625;
}

.sidebar__tab-icon {
    width: 32px;
    height: 32px;
    margin: auto;
}

.sidebar__tab-title {
    font-family: 'BebasNeue', sans-serif;
    font-size: 1.7rem;
    color: #e0e0e0;
}

/* Tab with menu */
.sidebar__tab-menu {
    color: #e0e0e0;
    margin: 10px 0 0 62px;
    padding: 0;
    list-style-position: inside;
    display: none;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar__tab-menu-item-title {
    position: relative;
    left: -5px;
    font-weight: 700;
}

.sidebar__tab-menu-item--vertical-space {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar__tab-arrow {
    margin-right: 10px;
    height: 24px;
    width: 24px;
    transition: all 0.5s;
}

.sidebar__tab-arrow--rotated {
    transform: rotate(180deg);
}

/* Tab 'Create Project' aka 'special tab' */
.sidebar__tab-icon-container--special {
    display: flex;
}

.sidebar__tab-icon-wrapper--special {
    background-color: #e0e0e0;
    padding: 5px;
    margin-left: 14px;
    transition: all 0.1s;
    border-radius: 50px;
}

.sidebar__tab-icon-wrapper--special-hover {
    border-radius: 20px 0 0 20px;
    padding-right: 19px;
}

.sidebar__tab-icon--special {
    height: 24px;
    width: 24px;
}

.sidebar__tab-header-title--special {
    padding: 5px 0;
}

.sidebar__tab-title-wraper--special {
    height: 34px;
    width: 118px;
    background-color: #e0e0e0;
    border-radius: 0 20px 20px 0;
}

.sidebar__tab-title--special {
    color: #37474f;
    font-size: 1.2rem;
}

/* Workspace rules */
.sheet {
    height: 100%;
    flex: 1;
    margin: auto;
    max-width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 30px;
}

.sheet__dashboard {
    border-bottom: solid 2px #B9BAB6;
    padding: 5px 40px;
    display: flex;
    align-items: center;
}

.sheet__icons--align-right {
    justify-self: right;
}

.sheet__search-container {
    flex: 4;
    display: flex;
    border: solid 1px #484C54;
    border-radius: 5px;
    align-items: center;
    min-width: 0;
}

.sheet__search {
    flex: 1;
    border: none;
    outline: none;
    margin-right: 10px;
    min-width: 0;
}

.sheet__icon {
    width: 20px;
    height: 20px;
}

.sheet__search-icon {
    margin: 0 10px;
}

.sheet__icon--margin-left {
    margin-left: 10px;
}

.sheet__space-filler {
    flex: 1;
}

/* Table rules */
.table {
    margin-top: 5px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.table__row {
    border-bottom: #CACACA 1px solid;
}

.table__row:hover {
    background-color: #DFDFDF;
}

.table__row--header {
    border-bottom: none;
}

.table__cell {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
}

.table__cell:first-child {
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: middle;
}

.table__select-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table__cell--header {
    background-color: #394950;
    border: #FFFFFF 1px solid;
    color: #FFFFFF;
}

.table__select {
    border: none;
}

.table__icon {
    height: 12px;
    width: 12px;
    position: absolute;
    left: 3px;
}

/*# sourceMappingURL=style.css.map */