/* General rules */

@font-face {
  font-family: BebasNeue;
  src: url("../fonts/BebasNeue-Regular.ttf");
}

.no-margins {
  margin: 0px;
}

.no-paddinds {
  padding: 0;
}

.no-column-gutters {
  padding-left: 0;
  padding-right: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  position: relative;
  flex: 1;
  display: flex;
  min-height: 0px;
}

.icon {
  width: 24px;
  height: 24px;
}

.icon-lg {
  width: 32px;
  height: 32px;
}

.asteriskField {
  color: red;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo__icon {
  margin-right: 10px;
}

.logo__title {
  font-weight: 700;
  text-transform: uppercase;
}

.logo__title--large {
  font-size: 1.5rem;
}

.logo__title--white {
  color: white;
}

.btn--wider {
  padding-left: 40px;
  padding-right: 40px;
}

.btn-transparent {
  background-color: transparent;
}

/* Font sizes */

.font-sm {
  font-size: 0.8rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.4rem;
}

.font-xl {
  font-size: 1.8rem;
}

/* Tabs */

.tabs__tab {
  font-size: 0.65rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: initial;
}

.tabs__tab.active {
  .tabs__tab-icon {
    display: none;
  }
  .tabs__tab-icon-active {
    display: initial;
  }
}

.tabs__tab:not(.active) {
  .tabs__tab-icon {
    display: initial;
  }
  .tabs__tab-icon-active {
    display: none;
  }
}

/* Details table */
.details-table {
  width: 100%;
  border-collapse: collapse;
}

.details-table__row {
  border-bottom: 1px #EEEEEE solid;
}

.details-table__cell {
  padding-top: 10px;
  padding-bottom: 10px;
}

.details-table__cell:not(:last-child) {
  white-space: nowrap;
  padding-right: 30px;
}

.details-table__cell:first-child {
  font-weight: bold;
}

.details-table__cell:last-child {
  width: 99%;
}

/* File */

.file {
  border: 1px #EEEEEE solid;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  padding: 5px 15px 5px 0;
  position: relative;
}

.file__icon-container {
  width: 40px;
  display: flex;
  //align-items: center;
}

.file__icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.file__info-container {
  flex: 1;
}

.file__header {
  font-weight: 700;
}

.file__short-info, .file__long-info {
  font-size: 12px;
  color: #959595;
}

.file__user {
  font-weight: bold;
  margin-right: 10px;
}

.file__more-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  height: 20px;
  width: 30px;
  align-items: center;
  justify-content: center;
  border: 1px #EEEEEE solid;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: none;
}

.file__more-icon {
  width: 10px;
  //height: 10px;
}

.file__link, .file__link:hover {
  font-size: 0.9rem;
  color: inherit;
  text-decoration: inherit;
}

