/* Navbar rules */

.nav-bar {
  background-color: #e0e0e0;
  height: 35px;
  padding: 0 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}

.nav-bar__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.nav-bar__left-bar {
  position: relative;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.nav-bar__middle-bar-container {
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar__right-bar {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
  padding-left: 0;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  min-height: 1px;
  position: relative;
}

.icon {
  width: 24px;
  height: 24px;
}

.icon-link-with-right-margin {
  margin-right: 20px;
}

.icon-link-with-left-margin {
  margin-left: 20px;
}

.nav-bar__profile-container {
  margin-left: 9px;
  align-items: center;
  display: flex !important;
}

.greeting {
  margin-right: 18px;
}

%navbar-text {
  font-family: 'Open Sans', sans-serif;
}

.project-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  @extend %navbar-text;
}

.nav-bar__project-description {
  font-size: 18px;
  color: #37474f;
  @extend %navbar-text;
  display: none;
}

.nav-bar__middle-bar {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .project-title {
    margin-right: 45px;
  }

  .nav-bar__project-description {
    display: inline;
  }
}