/* Navbar rules */

.nav-bar {
  background-color: #e0e0e0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.right-bar {
  display: flex;
  justify-content: flex-end;
}

%icon {
  width: 32px;
  height: 32px;
}

.icon {
  @extend %icon;
}

.icon-with-right-margin {
  @extend %icon;
  margin-right: 9px;
}

.icon-with-left-margin {
  @extend %icon;
  margin-left: 9px;
}

.profile-container {
  margin-left: 9px;
}

.greeting {
  margin-right: 18px;
}

.project-title {
  font-size: 20px;
  text-transform: uppercase;

}

.project-description {
  font-size: 19px;
}

.middle-bar-container {
  overflow: hidden;
}

.middle-bar {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .project-title {
    margin-right: 45px;
  }
}