/* Sidebar */

$sidebar-width: 50px;
$sidebar-hover-width: 230px;
$sidebar-right-padding: 10px;
$sidebar-font-color: #e0e0e0;
$sidebar-background-color: #37474f;

.sidebar {
  display: inline-block;
  height: 100%;
  transition: width 0.5s;
  background-color: $sidebar-background-color;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}

/* Tab */

.sidebar__tab-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.sidebar__tab-header {
  display: flex;
}

.sidebar__tab-header-title {
  display: none;
  overflow: hidden;
  white-space: nowrap;
  width: $sidebar-hover-width - $sidebar-width;
}

.sidebar__tab-title-wraper {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: $sidebar-hover-width - $sidebar-width - $sidebar-right-padding;
  border-radius: 0 10px 10px 0;
}

.sidebar__tab-icon-container {
  width: $sidebar-width;
  text-align: center;
}

.sidebar__tab-title-wraper, .sidebar__tab-icon-container {
  padding: 5px 0;
  cursor: pointer;
}

.tab-selected {
  .sidebar__tab-title-wraper, .sidebar__tab-icon-container {
    background-color: #edb625;
  }
}

.sidebar__tab-icon {
  width: 24px;
  height: 24px;
  margin: auto;
}

.sidebar__tab-title {
  font-family: 'BebasNeue', sans-serif;
  font-size: 1.3rem;
  color: $sidebar-font-color;
}


/* Tab with menu */
.sidebar__tab-menu {
  color: $sidebar-font-color;
  margin: 10px 0 0 $sidebar-width;
  padding: 0;
  //text-transform: uppercase;
  list-style-position: inside;
  display: none;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar__tab-menu-item-title {
  position: relative;
  left: -5px;
  font-weight: 700;
  font-size: 16px;
}

.sidebar__tab-menu-item--vertical-space {
  margin-top: 15px;
  margin-bottom: 15px;
}

.sidebar__tab-arrow {
  margin-right: 10px;
  height: 24px;
  width: 24px;
  transition: all 0.5s;
}

.sidebar__tab-arrow--rotated {
  transform: rotate(180deg);
}

/* Tab 'Create Project' aka 'special tab' */
$sidebar-right-padding-special: 50px;
$icon-padding-special: 5px;
$icon-size-special: 24px;
$icon-margin-left-special: 0.5 * $sidebar-width - 0.5 * $icon-size-special - $icon-padding-special;

.sidebar__tab-icon-container--special {
  display: flex;
}

.sidebar__tab-icon-wrapper--special {
  background-color: #e0e0e0;
  padding: $icon-padding-special;
  margin-left: $icon-margin-left-special;
  transition: all 0.1s;
  //padding-right: $icon-padding-special;
  border-radius: 50px;
}

.sidebar__tab-icon-wrapper--special-hover {
  border-radius: 20px 0 0 20px;
  padding-right: $icon-margin-left-special + $icon-padding-special;
}

.sidebar__tab-icon--special {
  height: $icon-size-special;
  width: $icon-size-special;
}

.sidebar__tab-header-title--special {
  padding: 5px 0;
}

.sidebar__tab-title-wraper--special {
  height: $icon-size-special + $icon-padding-special + $icon-padding-special;
  width: $sidebar-hover-width - $sidebar-width - $sidebar-right-padding-special;
  background-color: #e0e0e0;
  border-radius: 0 20px 20px 0;
}

.sidebar__tab-title--special {
  color: $sidebar-background-color;
  font-size: 1.2rem;
}