/* Sidebar variables */

$sidebar-width: 62px;
$sidebar-hover-width: 230px;
$sidebar-right-padding: 10px;
$sidebar-font-color: #e0e0e0;
$sidebar-background-color: #37474f;
$sidebar-right-padding-special: 50px;
$icon-padding-special: 5px;
$icon-size-special: 24px;
$icon-margin-left-special: 0.5 * $sidebar-width - 0.5 * $icon-size-special - $icon-padding-special;