/* Workspace rules */

/* Table rules */
.sheet {
  height: 100%;
  flex: 1;
  margin: auto;
  //min-width: 600px;
  max-width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 30px;
}

.sheet__dashboard {
  border-bottom: solid 2px #B9BAB6;
  padding: 5px 40px;
  display: flex;
  align-items: center;
}

.sheet__icons--align-right {
  justify-self: right;
}

.sheet__search-container {
  flex: 4;
  display: flex;
  border: solid 1px #484C54;
  border-radius: 5px;
  align-items: center;
  min-width: 0;
}

.sheet__search {
  flex: 1;
  border: none;
  outline: none;
  margin-right: 10px;
  min-width: 0;
}

.sheet__icon {
  width: 20px;
  height: 20px;
}

.sheet__search-icon {
  margin: 0 10px;
}

.sheet__icon--margin-left {
  margin-left: 10px;
}

.sheet__space-filler {
  flex: 1;
}
