$menu-width: 350px;
$menu-horizontal-padding: 20px;

/* Workspace rules */
.workspace {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.sheet {
  display: inline-flex;
  max-width: 100%;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

.sheet__dashboard {
  border-bottom: solid 2px #B9BAB6;
  padding: 5px 40px;
  display: flex;
  align-items: center;
}

.sheet__table-container {
  flex: 1;
  overflow-y: auto;
}

.sheet__table-wrapper {
  max-height: 100%;
  overflow: auto;
  padding-bottom: 10px;
}

.sheet__icons--align-right {
  justify-self: right;
}

.sheet__search-container {
  flex: 4;
  display: flex;
  border: solid 1px #484C54;
  border-radius: 5px;
  align-items: center;
  min-width: 0;
}

.sheet__search {
  flex: 1;
  border: none;
  outline: none;
  margin-right: 10px;
  min-width: 0;
}

.sheet__icon {
  width: 20px;
  height: 20px;
}

.sheet__search-icon {
  margin: 0 10px;
}

.sheet__icon--margin-left {
  margin-left: 10px;
}

.sheet__space-filler {
  flex: 1;
}

/* Table rules */

.table {
  margin-top: 5px;
  //border: solid thin;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  table-layout: auto;
  position: relative;
}

.table__row {
  border-bottom: #CACACA 1px solid;
}

.table__row:hover {
  background-color: #DFDFDF;
}

.table__row--header {
  border-bottom: none;
}

.table__cell {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
}

.table__cell:first-child {
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: middle;
}

.table__select-container {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__cell--header {
  background-color: #394950;
  border: #FFFFFF 1px solid;
  color: #FFFFFF;
  white-space: nowrap;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table__cell--header-no-checkbox {
  padding-right: 30px;
  padding-left: 30px;
  outline: none;
}

.table__select {
  border: none;
}

.table__group-icon {
  height: 12px;
  width: 12px;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.table__name-link {
  color: #8290AB;
  //font-weight: 600;
}

.table__name-link:hover {
  text-decoration: none;
}

.table__sort-icon {
  height: 12px;
  width: 12px;
  color: white;
  right: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Menu rules */
.menu {
  height: 100%;
  width: $menu-width;
  position: absolute;
  top: 0;
  right: 0;
  border-left: solid 1px #898C8C;
  background-color: white;
  padding: 10px $menu-horizontal-padding;
}

.menu__exit-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu__header-container {
  width: $menu-width - 2*$menu-horizontal-padding - 20px;
  margin: auto;
  padding: 5px 10px;
  border-bottom: 1px solid #CDCDCD;
}

.menu__project-name-container {
  font-size: 16px;
}

.menu__last-modification-container {
  font-size: 12px;
  color: #959595;
}