$menu-width: 450px;
$menu-horizontal-padding: 30px;
$menu-header-width: $menu-width - 2*$menu-horizontal-padding - 20px;

/* Workspace rules */
.workspace {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.sheet {
  display: inline-flex;
  min-width: 80%;
  max-width: 100%;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

.sheet__dashboard {
  border-bottom: solid 2px #B9BAB6;
  padding: 5px 40px;
  display: flex;
  align-items: center;
}

.sheet__table-container {
  flex: 1;
  overflow-y: auto;
}

.sheet__table-wrapper {
  max-height: 100%;
  overflow: auto;
  padding-bottom: 10px;
}

.sheet__icons--align-right {
  justify-self: right;
}

.sheet__search-container {
  flex: 4;
  display: flex;
  border: solid 1px #484C54;
  border-radius: 5px;
  align-items: center;
  min-width: 0;
}

.sheet__search {
  flex: 1;
  border: none;
  outline: none;
  margin-right: 10px;
  min-width: 0;
}

.sheet__icon {
  width: 20px;
  height: 20px;
}

.sheet__search-icon {
  margin: 0 10px;
}

.sheet__icon--margin-left {
  margin-left: 10px;
}

.sheet__space-filler {
  flex: 1;
}

/* Table rules */

._table {
  margin-top: 5px;
  //border: solid thin;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  table-layout: auto;
  position: relative;
}

.table__row {
  border-bottom: #CACACA 1px solid;
}

.table__row:hover {
  background-color: #DFDFDF;
}

.table__row--header {
  border-bottom: none;
}

.table__cell {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
}

.table__cell:first-child {
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: middle;
}

.table__select-container {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__cell--header {
  background-color: #394950;
  border: #FFFFFF 1px solid;
  color: #FFFFFF;
  white-space: nowrap;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table__cell--header-no-checkbox {
  padding-right: 30px;
  padding-left: 30px;
  outline: none;
}

.table__select {
  border: none;
}

.table__group-icon {
  height: 12px;
  width: 12px;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.table__name-link {
  color: #8290AB;
  //font-weight: 600;
}

.table__name-link:hover {
  text-decoration: none;
}

.table__sort-icon {
  height: 12px;
  width: 12px;
  color: white;
  right: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Menu rules */
.menu {
  height: 100%;
  width: $menu-width;
  position: absolute;
  top: 0;
  right: 0;
  border-left: solid 1px #898C8C;
  background-color: white;
  padding: 10px $menu-horizontal-padding;
  overflow-y: auto;
  display: none;
}

.menu__exit-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

._menu-header {
  width: $menu-header-width;
  margin: auto;
  padding: 5px 10px;
  border-bottom: 1px solid #CDCDCD;
}

/* Details menu rules */
.details {
  display: none;
}

.details__last-modification-container {
  font-size: 12px;
  color: #959595;
}

.details__basic-informations-container {
  font-size: 14px;
}

.details__container-header {
  margin-top: 10px;
  font-weight: 700;
  border-bottom: 1px #EEEEEE solid;
}

.details__data-container {
  //margin-top: 5px;
}

.details__data-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px #EEEEEE solid;
}

.details__files-container {
  font-size: 14px;
}

.details__file-container {
  border: 1px #EEEEEE solid;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  padding: 5px 15px 5px 0;
  position: relative;
}

.details__file-icon-container {
  width: 40px;
  display: flex;
  //align-items: center;
}

.details__file-icon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.details__file-info-container {
  flex: 1;
}

.details__file-header {
  font-weight: 700;
}

.details__file-short-info, .details__file-long-info {
  font-size: 12px;
  color: #959595;
}

.details__file-user {
  font-weight: bold;
  margin-right: 10px;
}

.details__more-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  height: 20px;
  width: 30px;
  align-items: center;
  justify-content: center;
  border: 1px #EEEEEE solid;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: none;
}

.details__more-icon {
  width: 10px;
  //height: 10px;
}

.details__file-link, .details__file-link:hover {
  color: inherit;
  text-decoration: inherit;
}

/* Columns control menu */
.columns-control {
  display: none;
}

.menu-header__header-icon {
  width: 20px;
  height: 20px;
}

.columns-control__add-column-button {
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #6AD1DE;
  border: none;
  display: flex;
  align-items: center;
  margin: 15px auto;
  cursor: pointer;
}

.columns-control__add-icon {
  width: 20px;
  height: 20px;
}

.columns-control__button-text {
  color: white;
  margin-left: 10px;
  font-weight: bold;
}

.columns-control__rows {
  border-top: 1px solid #CDCDCD;
}

.columns-control__row {
  padding: 10px 30px;
  border-bottom: 1px solid #CDCDCD;
  display: flex;
  justify-content: space-between;
}

.columns-control__row:hover {
  background-color: #DFE0E1;
}

.columns-control__icons-container {
  position: relative;
}

.columns-control__row-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.columns-control__row-icon--horizontal-margins {
  margin-right: 10px;
  margin-left: 10px;
}

.columns-control__edit-column-icon, .columns-control__remove-column-icon {
  visibility: hidden;
}

.columns-control__hide-column-icon {
  display: none;
}

.columns-control__row:hover {
  .columns-control__edit-column-icon, .columns-control__remove-column-icon {
    visibility: initial;
  }
}
